.categorys{
    display: flex;
    width: 55vw !important;
    overflow: auto;
}

.btn{
    text-align: center;
    height: 120px !important;
    width: 120px !important;
    margin: 10px 10px 10px 0px;
    border: none;
    outline: none;
    border-radius: 5px;
    color: white;
    font-family: 'Roboto';
    font-size: 16;
    background-color: #27252D;
}
.select-btn{
    text-align: center;
    height: 120px !important;
    width: 120px !important;
    margin: 10px 10px 10px 0px;
    border: none;
    outline: none;
    border-radius: 5px;
    font-family: 'Roboto';
    font-size: 16;
    color: white;
    background-color: #EA6E00;
}