tr{
    width:100%;
    height:40px;
    color: white;
}
/* td{
    color: white;
} */

.quantity{
    display: flex;
    justify-content: center;
}
.qantity-event{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 2px;
    height:20px;
    width:20px;
    border:1px solid white;
    border-radius: 50%;
    color: white;
    cursor: pointer;
}
.quan{
    width:30px;
    text-align: center;
    color: white;
    background-color: #27252D;
    border-radius: 4px;
    border: none;
    outline: none;
    margin: 0px 5px;
}
